body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrestlerslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.wrestlers {
  background-color: #eeefeaf3;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 30px;
  flex: 1 1 300px; 
  max-width: 200px; 
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.wrestlers:hover {
  transform: translateY(-10px);
}

.wrestlers img {
  border-radius: 10px;
  max-width: 300px;
  height: 250px;
}

.wrestlers h1 {
  margin: 10px 0;
  color: #333;
}

.wrestlers h4 {
  margin: 3px 0;
  color: #777;
}

@media (min-width: 768px) {
  .wrestlerslist {
    justify-content: space-around;
  }

  .wrestlers {
    flex: 1 1 calc(25% - 30px); /* 3 boxes in a row */
    max-width: calc(25% - 30px); /* 3 boxes in a row */
    max-height: calc(25% - 30px);
  }
}

.header {
  background: black;
  color: #fff;
  text-align: center;
  padding: 25px 10px;
  margin-bottom: 20px;
}

.header-title {
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
}
.wrestlers h4 {
  margin: 3px 0;
  font-weight: 500;
  opacity: 0.85;
}








